# Node
node_modules/
npm-debug.log
yarn-error.log
.env
.env.*

# Build
/dist/

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test
/coverage/

# TypeScript
*.tsbuildinfo

# Others
*.swp
*.swo

# Docker
*.local.env
docker-compose.override.yml
